################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ChawlEvent/FileContentIndex
/.vs/ChawlEvent/v17
/.vs/ChawlEventAPI/FileContentIndex
/ChawlEventAPI/obj
/.vs
